{% extends 'base.html' %}

{% block title %}Admin Dashboard - Toko Pigura{% endblock %}

{% block content %}
<div class="py-12">
    <h2 class="text-3xl font-bold mb-6">Admin Dashboard</h2>
    <a href="{% url 'product_create' %}" class="bg-green-500 text-white px-4 py-2 rounded-md mb-4 inline-block">Tambah Produk</a>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-8">
        {% for product in products %}
        <div class="bg-white rounded-lg shadow-lg p-4">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover">
            <p class="font-bold mt-2">{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <a href="{{ product.external_link }}" target="_blank" class="bg-green-500 text-white px-4 py-2 mt-4 rounded-md inline-block">Beli</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}